<!-- wp:template-part {"slug":"header-with-banner","theme":"reshape-block"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"reshape-block/services-block"} /-->
  <!-- wp:pattern {"slug":"reshape-block/about-content-block"} /-->
  <!-- wp:pattern {"slug":"reshape-block/team-block"} /-->
  <!-- wp:pattern {"slug":"reshape-block/cta-block"} /-->
  <!-- wp:pattern {"slug":"reshape-block/testimonial-block"} /-->
  <!-- wp:pattern {"slug":"reshape-block/latest-posts"} /-->
  <!-- wp:pattern {"slug":"reshape-block/faq-block"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"reshape-block"} /-->
